header {
    background-color: #E8E8E8;
    margin: 0px;
    padding-top: 16px;
    
}

h1 {
    font-family: Montserrat;
    font-weight: 800;
    text-align: center;
    color: #404040;
    font-size: 36px;
}

h6 {
    font-family: Roboto;
    font-weight: 600;
    text-align: center;
    color: #404040;
    font-size: 12px;
}

